<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE root [   <!ELEMENT root ANY>   <!ELEMENT item ANY>   <!ATTLIST item ID ID #REQUIRED>   <!ATTLIST item Explanation CDATA #IMPLIED>]><root>
	<item ID="APPPATH">C:\Users\Administrator\git\wei1224hf-myappcc\WebContent\</item>
	<item ID="IL8N" Explanation="必须与 WebContent/language/ 内某个文件夹的名称保持一致">zh-cn</item>
	<item ID="DB_TYPE">postgresql</item>	
	<item ID="DB_UNM">root</item>
	<item ID="DB_PWD"></item>
	<item ID="DB_HOST" Explanation="PHP 或 C# 服务端所用的连接参数">localhost</item>
	<item ID="DB_NAME" Explanation="PHP 或 C# 服务端所用的连接参数">cm_3</item>
	<item ID="DB_URL" Explanation="JAVA服务端所用的连接参数">jdbc:mysql://localhost:3306/myapp?characterEncoding=utf8</item>

	<item ID="MODE" Explanation="系统集成运行模式,如果是独立运行的,写 Independent,如果是要集成到其他平台的,写平台名称 比如 joomla , discuzx , phpwind ">Independent</item>
	<item ID="ZONE" Explanation="行政区划编码,参考国标文件 ,2位长度为省 4位长度为地级市6位长度为县级市,地级市所模拟出来的数据会达到800万,因此最好用 县级市 来模拟">330281</item>
	<item ID="ZONE_NAME">浙江省.宁波市.余姚市</item>

	<item ID="ZONE4">3302</item>
	<item ID="ZONE6">330281</item>
	<item ID="ZONE8" Explanation="表示 乡镇 或者城市里的 街道.国标文件中没有定义8位长度的行政区划">33028101</item>

</root>